<a href="https://colab.research.google.com/github/harika-pendli/ML_practice/blob/main/Diabetes_prediction_SVM.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Import Dependecies

In [1]:
import numpy as np
import pandas as pd
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn import svm
from sklearn.metrics import accuracy_score

Data collection

[Diabetes dataset](https://www.dropbox.com/s/uh7o7uyeghqkhoy/diabetes.csv?dl=0)

0--> non-diabetic
1--> diabetic

In [2]:
#loading into pandas dataframe

diabetes_data = pd.read_csv("/content/diabetes.csv")
diabetes_data.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [4]:
diabetes_data.shape

(768, 9)

In [6]:
diabetes_data.describe()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
count,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000
mean,3.845052,120.894531,69.105469,20.536458,79.799479,31.992578,0.471876,33.240885,0.348958
std,3.369578,31.972618,19.355807,15.952218,115.244002,7.884160,0.331329,11.760232,0.476951
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.078000,21.000000,0.000000
25%,1.000000,99.000000,62.000000,0.000000,0.000000,27.300000,0.243750,24.000000,0.000000
50%,3.000000,117.000000,72.000000,23.000000,30.500000,32.000000,0.372500,29.000000,0.000000
75%,6.000000,140.250000,80.000000,32.000000,127.250000,36.600000,0.626250,41.000000,1.000000
max,17.000000,199.000000,122.000000,99.000000,846.000000,67.100000,2.420000,81.000000,1.000000

In [7]:
diabetes_data['Outcome'].value_counts()

0    500
1    268
Name: Outcome, dtype: int64

In [11]:
diabetes_data.groupby('Outcome').mean()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
Outcome,,,,,,,,
0,3.298000,109.980000,68.184000,19.664000,68.792000,30.304200,0.429734,31.190000
1,4.865672,141.257463,70.824627,22.164179,100.335821,35.142537,0.550500,37.067164

In [12]:
#seperate data and labels
X= diabetes_data.drop(columns='Outcome')
Y=diabetes_data['Outcome']

In [13]:
print(X.shape,Y.shape)

(768, 8) (768,)

In [16]:
X

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
0,6,148,72,35,0,33.6,0.627,50
1,1,85,66,29,0,26.6,0.351,31
2,8,183,64,0,0,23.3,0.672,32
3,1,89,66,23,94,28.1,0.167,21
4,0,137,40,35,168,43.1,2.288,33
...,...,...,...,...,...,...,...,...
763,10,101,76,48,180,32.9,0.171,63
764,2,122,70,27,0,36.8,0.340,27
765,5,121,72,23,112,26.2,0.245,30
766,1,126,60,0,0,30.1,0.349,47
767,1,93,70,31,0,30.4,0.315,23

In [17]:
Y

0      1
1      0
2      1
3      0
4      1
      ..
763    0
764    0
765    0
766    1
767    0
Name: Outcome, Length: 768, dtype: int64

In [18]:
#data standardization
scaler=StandardScaler()
scaler.fit(X)

StandardScaler()

In [20]:
standardised_X= scaler.transform(X)
standardised_X

array([[ 0.63994726,  0.84832379,  0.14964075, ...,  0.20401277,
         0.46849198,  1.4259954 ],
       [-0.84488505, -1.12339636, -0.16054575, ..., -0.68442195,
        -0.36506078, -0.19067191],
       [ 1.23388019,  1.94372388, -0.26394125, ..., -1.10325546,
         0.60439732, -0.10558415],
       ...,
       [ 0.3429808 ,  0.00330087,  0.14964075, ..., -0.73518964,
        -0.68519336, -0.27575966],
       [-0.84488505,  0.1597866 , -0.47073225, ..., -0.24020459,
        -0.37110101,  1.17073215],
       [-0.84488505, -0.8730192 ,  0.04624525, ..., -0.20212881,
        -0.47378505, -0.87137393]])

In [26]:
#split the data
X_train,X_test,Y_train,Y_test= train_test_split(standardised_X,Y,train_size=0.1,stratify=Y,random_state=2)
print(X_train.shape,X_test.shape,standardised_X.shape)
print(Y_train.shape,Y_test.shape,Y.shape)

(76, 8) (692, 8) (768, 8)
(76,) (692,) (768,)

In [27]:
#set model to SVM classifier
model= svm.SVC(kernel='linear')
model.fit(X_train,Y_train)

SVC(kernel='linear')

In [28]:
#evaluation on train
x_predictions= model.predict(X_train)
acc_score_train= accuracy_score(x_predictions,Y_train)
print("Acc on train:",acc_score_train)

Acc on train: 0.7763157894736842

In [29]:
#evaluation on test
test_predictions=model.predict(X_test)
acc_score_test=accuracy_score(test_predictions,Y_test)
print("Acc score on test:",acc_score_test)

Acc score on test: 0.7398843930635838

In [36]:
# test here

input_data= [4,110,92,0,0,37.6,0.191,30]
input_np= np.asarray(input_data).reshape(1,-1)

#standardise input
std_input=scaler.transform(input_np)
print(std_input)

#prediction results
pred=model.predict(std_input)
print(pred)

[[-6.0e+00 -5.0e+00  9.2e+01  0.0e+00  0.0e+00  2.3e+00  5.7e-02  1.0e+00]]
[0]